@model IPagedList<Linkhay>

@{
    ViewBag.Title = "Index";
}

<h2>Link hay application</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @id = "openDialog", @class = "btn btn-primary" })
</p>


@Html.Partial("_LinkhayList", Model)

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
        </span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none"></div>

<div id="dialog-view" style="display: none"></div>




