@model IPagedList<Linkhay>

@{
    ViewBag.Title = "Index";
}

<h2>Link hay application</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @id = "openDialog", @class = "btn btn-primary" })
</p>


@Html.Partial("_LinkhayList", Model)

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;">
        </span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none"></div>

<div id="dialog-view" style="display: none"></div>


@section Scripts{

<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });

        $("#openDialog").on("click", function (e) {
            e.preventDefault();

            var url = $(this).attr('href');

            $("#dialog-edit").dialog({
                title: 'Add Student',
                autoOpen: false,
                resizable: false,
                height: 355,
                width: 400,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".editDialog").on("click", function (e) {
            var url = $(this).attr('href');

            $("#dialog-edit").dialog({
                title: 'Edit Customer',
                autoOpen: false,
                resizable: false,
                height: 355,
                width: 400,
                show: { effect: 'drop', direction: 'up' },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".confirmDialog").on("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: 'up' },
                modal: true,
                draggable: true,
                buttons: {
                    'OK': function () {
                        $(this).dialog("close");
                        window.location = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog-confirm").dialog('open');
            return false;
        });



        $(".viewDialog").on("click", function (e) {
            var url = $(this).attr('href');

            $("#dialog-view").dialog({
                title: 'View Customer',
                autoOpen: false,
                resizable: false,
                height: 355,
                width: 400,
                show: { effect: 'drop', direction: 'up' },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        $("#btncancel").on("click", function (e) {
            $("#dialog-edit").dialog('close');
        });
    });

</script>

}





